.navbar {
    display:flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    padding-left: 20px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 1em;
    margin-right: 60px;
}

.item { 
    margin-left: 2em;
    color: #fff;

}



.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb33;
}